h1 {
  font-family: 'IBM Plex Serif', serif !important;
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 2.999em !important;
  max-width: 80% !important;
}

h2 {
  font-family: 'IBM Plex Serif', serif !important;
  font-weight: bold !important;
  font-size: 2.414em !important;
}

p {
  font-family: 'IBM Plex Serif', serif !important;
  font-size: 2em !important;
}
