h1 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
  font-style: italic;
  max-width: 80%;
}

h2 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
}

p {
  font-family: 'IBM Plex Serif', serif;
}

.contact {
  display: inline;
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
